In [0]:
import numpy as np
import pandas as pd

In [0]:
UserRatings = pd.read_csv('ratings.csv',)
UserRatings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [0]:
Movies = pd.read_csv("movies.csv")
Movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [0]:
DataSet = pd.merge(UserRatings,Movies,on='movieId')
DataSet.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [0]:
RatingCount = DataSet.groupby('title')['rating'].count().reset_index().rename(columns = {'rating':'rating_count'})
RatingCount.head()

                                     title  rating_count
0                               '71 (2014)             1
1  'Hellboy': The Seeds of Creation (2004)             1
2                   'Round Midnight (1986)             2
3                      'Salem's Lot (2004)             1
4                'Til There Was You (1997)             2

In [0]:
MeanRatings = DataSet.groupby('title')['rating'].mean().reset_index().rename(columns = {'rating':'mean_rating'})
MeanRatings.head()

                                     title  mean_rating
0                               '71 (2014)          4.0
1  'Hellboy': The Seeds of Creation (2004)          4.0
2                   'Round Midnight (1986)          3.5
3                      'Salem's Lot (2004)          5.0
4                'Til There Was You (1997)          4.0

In [0]:
DataSet = pd.merge(DataSet,RatingCount,on='title')
DataSet = pd.merge(DataSet,MeanRatings,on='title')
DataSet.head()

,userId,movieId,rating,timestamp,title,genres,rating_count,mean_rating
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.92093
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.92093
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.92093
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.92093
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.92093

In [0]:
UserMovieRatingTable = DataSet.pivot_table(index='userId',columns='title',values='rating')
UserMovieRatingTable.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
MovieUserRatingTable = UserMovieRatingTable.transpose().fillna(0)
MovieUserRatingTable.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
OneMovieRating = UserMovieRatingTable['Toy Story (1995)']
OneMovieRating.head()

userId
1    4.0
2    NaN
3    NaN
4    NaN
5    4.0
Name: Toy Story (1995), dtype: float64

In [0]:
SimilarMovies = UserMovieRatingTable.corrwith(OneMovieRating)
CorrelationStatus = pd.DataFrame(SimilarMovies,columns = ['Correlation'])

C:\Users\Supriya Kundu\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2522: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\Supriya Kundu\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [0]:
CorrelationStatus.sort_values('Correlation',ascending=False).head()

                                                    Correlation
title
Land Before Time III: The Time of the Great Giv...          1.0
St. Vincent (2014)                                          1.0
Mind Game (2004)                                            1.0
Misfits, The (1961)                                         1.0
Veronica Mars (2014)                                        1.0

In [0]:
MeanRatings = pd.DataFrame(DataSet.groupby('title')['rating'].mean())
MeanRatings['rating_count'] = pd.DataFrame(DataSet.groupby('title')['rating'].count())
MeanRatings.head()

                                         rating  rating_count
title
'71 (2014)                                  4.0             1
'Hellboy': The Seeds of Creation (2004)     4.0             1
'Round Midnight (1986)                      3.5             2
'Salem's Lot (2004)                         5.0             1
'Til There Was You (1997)                   4.0             2

In [0]:
CorrelationStatus = CorrelationStatus.join(MeanRatings['rating_count'])

In [0]:
CorrelationStatus.head(10)

                                         Correlation  rating_count
title
'71 (2014)                                       NaN             1
'Hellboy': The Seeds of Creation (2004)          NaN             1
'Round Midnight (1986)                           NaN             2
'Salem's Lot (2004)                              NaN             1
'Til There Was You (1997)                        NaN             2
'Tis the Season for Love (2015)                  NaN             1
'burbs, The (1989)                          0.240563            17
'night Mother (1986)                             NaN             1
(500) Days of Summer (2009)                 0.353833            42
*batteries not included (1987)             -0.427425             7

In [0]:
CorrelationStatus[CorrelationStatus['rating_count']>100].sort_values('Correlation',ascending=False).head()

                         Correlation  rating_count
title
Toy Story (1995)            1.000000           215
Incredibles, The (2004)     0.643301           125
Finding Nemo (2003)         0.618701           141
Aladdin (1992)              0.611892           183
Monsters, Inc. (2001)       0.490231           132